@charset "utf-8";

@import 'variables';

// #FIXME Replace @import with @use
@import '../vendors/bulma/bulma';

@import 'overrides';

.has-background-image {
    position: absolute;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: -1;

    &.circ-principal {
      width: 30%;
      max-width: 40%;
      top: -5em;
      right: -10em;
    }
}