@charset "utf-8";

@import 'variables';

// #FIXME Replace @import with @use
@import '../vendors/bulma/bulma';

@import 'overrides';

.has-background-image {
  position: absolute;
  top: -10rem;
  right: -15vw;
  width: 40vw;
  max-width: 140vh;
  z-index: -1;
}
